
  /* CSS HEX Colors
  --gunmetal: #022b3a
  --metallic-seaweed: #1f7a8c
  --beau-blue: #bfdbf7ff;
  --lavender-web: #e1e5f2
  --white: #ffffff */

body {
  background-color: #022b3a;
  color: #e1e5f2ff;
}

p {
  line-height: 1.6em;
}

.btn a {
  color: #022b3a;
  text-decoration: none;
}

